<ion-content fullscreen class="login-bg">

  <div class="login-box">

    <div class="avatar">
      <ion-icon name="person-outline"></ion-icon>
    </div>

    <div class="form-box">

      <div class="input-group">
        <ion-icon name="mail-outline" class="custom-icon"></ion-icon>
        <input
          type="text"
          placeholder="Email ID"
          [(ngModel)]="usuario">
      </div>

      <div class="input-group">
        <ion-icon name="lock-closed-outline" class="custom-icon"></ion-icon>
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="password">
      </div>

      <div class="options">
        <label>
          <input type="checkbox">
          Remember me
        </label>

        <span class="forgot">Forgot Password?</span>
      </div>

      <button class="btn-login" (click)="iniciarSesion()">
        LOGIN
      </button>

    </div>

  </div>

</ion-content>
