<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header-logo">
      <img src="assets/icon/logo-nuevo.png" alt="Logo En Ruta" class="img-logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-bg">
  
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="vehicle-card selected">
          <ion-icon name="bicycle-outline"></ion-icon>
          <p>Moto 3.0</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="vehicle-card">
          <ion-icon name="car-sport-outline"></ion-icon>
          <p>Auto</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="menu-container">
    
    <ion-button expand="block" class="app-btn main-action" routerLink="/registro">
      INICIAR SESIÓN
    </ion-button>

    <ion-button expand="block" class="app-btn outline-style" routerLink="/servicios">
      SERVICIOS
    </ion-button>

    <ion-button expand="block" class="app-btn outline-style" routerLink="/contactos">
      CONTACTOS
    </ion-button>

    <ion-button expand="block" class="app-btn outline-style location-btn" routerLink="/ubicacion">
      UBICAR MI PAQUETE
    </ion-button>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-segment value="home">
      <ion-segment-button value="map" routerLink="/ubicacion">
        <ion-icon name="location-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="back">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>