<ion-content [fullscreen]="true">
  
  <div class="main-container animated-bg">
    
    <div class="center-content">

      <div class="logo-container">
        <img src="assets/icon/nuevo-logo-flecha.png" alt="Logo En Ruta" class="img-logo">
      </div>

      <h1 class="app-title">EN RUTA APP</h1>
      <p class="app-subtitle">Tu envío, seguro y a tiempo.</p>

      <div class="action-area">
        <ion-button expand="block" class="login-btn" routerLink="/registro">
          INICIAR SESIÓN
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
        
        <p class="register-link">¿No tienes cuenta? <strong>Regístrate aquí</strong></p>
      </div>

    </div>

  </div>

</ion-content>