<ion-content class="registro-bg">

  <div class="registro-container">

    <div class="registro-card">

      <div class="icono-usuario">
        <img src="assets/icon/usuario.jpg" alt="Usuario">
      </div>

      <div class="campo">
        <ion-icon name="person-outline"></ion-icon>
        <input type="text" placeholder="Nombres"
          [(ngModel)]="usuario.nombres">
      </div>

      <div class="campo">
        <ion-icon name="person-outline"></ion-icon>
        <input type="text" placeholder="Apellidos"
          [(ngModel)]="usuario.apellidos">
      </div>

      <div class="campo">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" placeholder="Correo"
          [(ngModel)]="usuario.correo">
      </div>

      <div class="campo">
        <ion-icon name="call-outline"></ion-icon>
        <input type="tel" placeholder="Celular"
          [(ngModel)]="usuario.celular">
      </div>

      <div class="campo">
        <ion-icon name="home-outline"></ion-icon>
        <input type="text" placeholder="Dirección"
          [(ngModel)]="usuario.direccion">
      </div>

      <div class="campo">
        <ion-icon name="business-outline"></ion-icon>
        <input type="text" placeholder="Ciudad"
          [(ngModel)]="usuario.ciudad">
      </div>

      <div class="campo">
        <ion-icon name="person-outline"></ion-icon>
        <input type="text" placeholder="Usuario"
          [(ngModel)]="usuario.usuario">
      </div>

      <div class="campo">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" placeholder="Contraseña"
          [(ngModel)]="usuario.password">
      </div>

      <button class="btn-registrar" (click)="crearCuenta()">
        CREAR CUENTA
      </button>

    </div>

  </div>

</ion-content>
